<div class="container-fluid">
<h1>Wishlists</h1>

      <% @wishlists.each do |product| %>
          <div class="category_botton">

            <%= link_to image_tag(product.image, :class => 'img-thumbnail'),product_path(product.id)%>

            <%= link_to product.title, product_path(product.id), :style => 'color: #322125'%>
            </div>


      <% end %>
  </div>
