<div class="container-fluid">

    <div class="bg">

    <h1><strong><span class="cat_head">BROWSE DESIGNERS</span></strong></h1>
    <% @designers.each do |designer| %>
      <div class="category_botton">
          <%= link_to image_tag(designer.image, :class => 'img-thumbnail') , designer%>
              <strong><%= designer.brand.capitalize%></strong>
      </div>
    <% end %>

  </div>
</div>
