

<%= image_tag("https://res.cloudinary.com/dluw1enan/image/upload/v1564559671/image%20for%20project1/IMG_8347_ucyabo.jpg", :class => 'img-fluid',
:alt => "Responsive image")%>

<div class="container">
  <h1>Categories</h1>
  <% @categories.each do |category| %>
    <div class="category_botton">
        <%= link_to category.title, category%>
    </div>
  <% end %>
</div>
