<div class="container-fluid">

    <h1><strong><span class="cat_head">ALL PRODUCTS</span></strong></h1>

      <% @products.each do |product| %>

      <div class="category_botton">
        <% if product.image.present? %>
          <%= link_to cl_image_tag(product.image, :class => 'img-thumbnail'), product %>
        <% end %>

      <div class="text_description">
        <div class="text">
            <strong><%= link_to product.title, product, :class => 'link-text'%></strong>
        </div>
      </div>
      </div>
      <% end %>
    </div>
